* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(99, 6, 6);
  font-size: 1.5rem;
}

h3 {
  color: rgb(252, 131, 18);
  font-size: 1.5rem;
}

header {
  font-family: "Source Code Pro", monospace;
  background-color: rgba(255, 255, 255, 0.822);
  width: 100%;
}
header nav div ul {
  padding-top: 6rem;
}
header nav div ul li {
  width: 50%;
  font-size: 1rem;
  font-weight: unset;
  margin: 25px;
}
header nav div ul li .lista-menu {
  text-decoration: none;
  color: grey;
}
header nav div ul li .lista-menu:hover {
  color: orange;
}

.slider {
  width: 85%;
  margin: auto;
  padding-top: 0%;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.slider .carrousel {
  display: flex;
  width: 400%;
  animation: carrousel 20s linear infinite alternate;
}
.slider .carrousel li {
  list-style: none;
}
.slider .carrousel li .ilus-carrousel {
  width: 100%;
}
@keyframes carrousel {
  /* PRIMER ILUS */
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  /* SEGUNDA ILUS */
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  /* TERCER ILUS */
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  /* CUARTA ILUS */
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* FOOTER */
.pie-web {
  padding: 5%;
  display: flex;
  width: 85%;
  padding: 5%;
  justify-content: space-between;
  align-content: center;
  color: gray;
  font-size: 1rem;
}
@media only screen and (max-width: 441px) {
  .pie-web {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }
  .pie-web .derechos-r .txt-der {
    width: auto;
    justify-content: flex-start;
    font-weight: bold;
  }
  .pie-web .derechos-r .txt-der .redes-s {
    width: auto;
    align-content: space-between;
  }
}

.cont-servicios {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}
.cont-servicios .titulos-seccion {
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 5%;
}
.cont-servicios .titulos-seccion .img .items-serv {
  padding: 20%;
  color: rgb(99, 6, 6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(99, 6, 6);
  font-size: 1.5rem;
}

h3 {
  color: rgb(252, 131, 18);
  font-size: 1.5rem;
}

.bio {
  font-family: "Source Code Pro", monospace;
}
.bio .contenedor-bio {
  width: 85%;
  padding-top: 5%;
}
.bio .contenedor-bio .titulos-seccion-bio {
  padding-top: 3%;
}
.bio .contenedor-bio .titulos-seccion-bio .img .foto-bio .bio-descripcion {
  padding-top: 0;
  font-size: 0.7rem;
  color: gray;
  font-display: swap;
}

.seccion-portfolio {
  width: 100%;
  height: 100%;
  padding-bottom: 3%;
}
.seccion-portfolio .columna {
  margin: 0 !important;
  padding: 1rem;
}
.seccion-portfolio .columna .img-portfolio {
  border-radius: 3%;
  width: 100%;
}
.seccion-portfolio .columna .img-portfolio:hover {
  border: 8px solid rgb(255, 255, 255);
}

.contacto {
  width: 85%;
  padding-top: 10%;
  padding-bottom: 5%;
  align-content: center;
  justify-content: center;
}
.contacto .titulos-seccion-contacto {
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

tienda {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}
tienda .titulo-seccion {
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*# sourceMappingURL=style.css.map */
