* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


h1{ color: rgb(99, 6, 6);
    font-size: 1.5rem;
    padding-bottom: 2%;
}

h2{font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    }    

h3{color: rgb(252, 131, 18) ;
    font-size: 1.5rem;
    

}
