%formato-titulo{
                font-family: $font-family;
                font-size: 2rem;
                text-align: center;
                align-content: center;
                justify-content: center;
                padding-top: 4rem;
                padding-bottom: 0.5rem;
                
}