%formato-titulo{
                display: flex;
                font-family: $font-family;
                font-size: 2rem;
                align-items: center;
                justify-content: center;
                padding-bottom: 2%;
}