@import '../base/variables';
@import '../base/estilos-generales';

.bio{
  font-family: $font-family;

  .contenedor-bio{ width:85%; padding-top: 5%;
               

    .titulos-seccion-bio{padding-top:3%;

      .img{
      
      
        .foto-bio{ 

          .bio-descripcion{
            padding-top:0;
            font-size: 0.7rem;
            color: gray;
    
            font-display:swap ;
  
           
        }
      
    }
  }
}

}
}