@import '../base/variables';
@import '../base/estilos-generales';

.bio{
  font-family: $font-family;
  width:85%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 1%;
  align-content: center;
  justify-content: center;

  .contenedor-bio{ 
               

    .titulos-seccion-bio{padding-top:3%;

      .img{
      
      
        .foto-bio{ 

          .bio-descripcion{
            padding-top:0;
            font-size: 0.7rem;
            color: gray;
    
            font-display:swap ;
  
           
        }
      
    }
  }
}

}
}