.slider{
    width: 80%;
    padding-top: 5%;
    justify-content: center;
    margin: auto;
    overflow: hidden;

    .carrousel .li{
        display: flex;
        width: 300%;
        animation: carrousel 21s linear infinite alternate;

        .carrousel{
            list-style:none;
            width: 80%;

            .ilus-carrousel{
                width: 100%;


                @keyframes carrousel{
                    /* PRIMER ILUS */
                    
                    0%{margin-left: 0;}
                    33%{margin-left: 0;}
                    
                    /* SEGUNDA ILUS */
                    
                    34%{margin-left: -100%;}
                    66%{margin-left: -100%;}
                    
                    /* TERCER ILUS */
                    
                    67%{margin-left: -200%;}
                    100%{margin-left: -200%;}
                    
                    } 
                }
            }
        }
    }




 
    