
.contacto{
  width: 85%;
  padding-top: 10%;
  padding-bottom: 5%;
  align-content: center;
  justify-content: center;

  
  .titulos-seccion-contacto{display: flex;
    font-family: $font-family;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    
            

               
                   
                  
                   



    }




} 


    
    
