
.contacto{
  width: 85%;
  padding-top: 5%;
  align-items: center;
  justify-items: center;
  

  
  .titulos-seccion-contacto{display: flex;
    font-family: $font-family;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;

    







    }
    
            

               
                   
                  
                   



    }






    
    
