#estudios{font-family: $font-family;
   
   .cont-estudios{
                  padding-top: 5%;
                  margin: 1rem;
                  align-items: center;
                  justify-content: center;
                  
                  
   
   
      .titulos-seccion{display: flex;
       font-family: $font-family;
       font-size: 2rem;
       align-items: center;
       justify-content: center;
       padding-bottom: 8%;
      
     


            
         }         
             
         
      }

   }


