/* FOOTER */
.pie-web{ 
    display: flex;
    padding: 5%;
    margin: 10px;
    justify-content: space-between;
    align-content: center;

 .derechos-r{ justify-content: space-around;
    font-family: sans-serif;
    font-weight:bold;
    color: #6b6b6b;
    font-size:x-small;
    
  .redes-s{
      width: 10%;
      justify-content: space-around;

      }
    }
}
      