@import '../base/variables';
@import '../base/mapa';


header {
    font-family: $font-family;
    background-color: map-get($header, bg-color);
    width: 100%;
    padding-top: 2%;
    margin: 1rem;

    nav { 

    

        div {

            ul {
             padding-top:6.5rem;

                li {
                  width: 50%;
                   font-size: 1rem;
                    font-weight: unset;
                    margin: 25px;
  

                    .lista-menu {
                       text-decoration: none;
                      color: grey;
                        &:hover {
                        color: orange;
                    
                        
                    }


                    
  
                }
            }
        }
    }

}

}
