


#portfolio{
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
  
   .columna{margin:0!important; padding: 1rem;
              
      .img-portfolio{
           border-radius: 3%;
           width: 100%;
           &:hover{border: 8px solid rgb(255, 255, 255);
        
        
    }
        
  }

}

}

