

#tienda{width:85%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 5%;
  align-content: center;
  justify-content: center;
  font-family: $font-family;

.sec-tienda{display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1 fr));
            
   

}

}
