@import '../base/variables';

.sec-tienda{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1 fr));
   gap:10%;
   
    .titulos-seccion-tienda{@extend %formato-titulo;



    }



}