@import '../base/variables';

.sec-tienda{padding: $padding-caja;
    align-content: space-between;
    justify-content: center;
    margin: auto;
    background-color:none ;
   
    .titulos-seccion-tienda{@extend %formato-titulo;



    }



}